#MyTools{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#categories{
    margin-right: 10%;
    margin-left: 20%;
}
#tools, #request{
    grid-column-end: span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 10%;

}

.chakra-card {
    margin: 15px;
}

.title {
    margin-bottom: 5%;
    color: black;
    font-size: 24px;
}

