* {
	box-sizing: border-box;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    margin-left: 6px;;
}
button {
	border-radius: 20px;
	border: 1px solid #567189;
	background-color: #567189;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.loginPage {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	text-align: center;
}

.container {
	position: absolute;
	top: 0;
	height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding: 20px;
}

.loginContainer {
	left: 0;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
}

.signUpContainer {
	position: absolute;
	left: 50%;
    top:11%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px 20px;
	text-align: center;
    height: 100%;
    display: inline;	
}